#calculator {
    margin-top: 10%;
}

#calculatordisplay {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    height: 100px;
    line-height: 50px;
    font-size: 20px;
}

#calculatorbody {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 50%;
    height: 400px;
    margin: 0 auto;
}

#clear, #equals {
}